footer{
	background-color:#323232;
	height:150px;
	width:100%;
    text-align:center;
	margin:0;
	
    
	
	
}
footer nav ul{
    width:1030px;
    margin:auto;
	padding:30px 0;
	
}
footer nav ul li{
    float:left;
    list-style:none;
    font-size:14px;
}
footer nav ul li a{
    color:#fff;
    text-decoration:none;
    margin:0 10px;
	color:white;
    
    
}
footer p{
	text-align:center;
	color:white;
	font-size:14px;
	padding:20px 0 0 0;
	
}


